.overall-container {
  background-color: var(--text);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7.2rem;
  box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.2);
}

.get-started-logo {
  margin-bottom: 4rem;
  margin-top: 5.6rem;
}

.log-in-container {
  background-color: #fff;
  padding: 3.2rem 8.5rem 4rem 6.4rem;
  border-radius: 4px;
  color: var(--text);
}

.log-in-container h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 4rem;
}

.log-in-form p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

input {
  border: 1px solid #dddde3;
  border-radius: 4px;
  height: 4rem;
  width: 29.8rem;
  padding-left: 1rem;
}

input:focus {
  outline: none !important;
  border: 1px solid rgba(4, 11, 82, 0.7);
}

::placeholder {
  color: hsla(235, 72%, 37%, 0.4);
}

.log-in-form .label-login-page {
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.show-password-login-page {
  position: absolute;
  max-height: 2.4rem;
  max-width: 2.4rem;
  left: 26.5rem;
  top: 12.5rem;
}

.forgot-password {
  margin-top: 0.8rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  max-width: 32.6rem;
}

.forgot-password-link {
  text-decoration: none;
}

.text-blue {
  color: #0b1dd5;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.4rem;
}

.log-in-login-page {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.4rem 3.1rem;
  background: #0b1dd5;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions .get-started-login-page {
  font-size: 1.4rem;
  font-weight: 400;
  color: #0b1dd5;
  text-decoration: none;
}
