.seller-container {
  height: 100vh;
}

.form-seller {
  width: 44.7rem;
  margin: 3.2rem auto 10% auto;
  background: #f0f2fe;
  border-radius: 4px;
}

.form-seller p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-seller-parent {
  display: flex;
  flex-direction: column;
  padding: 4.8rem 8.5rem 3.6rem 6.4rem;
}

.seller-inputs {
  background-color: #f0f2fe;
  border: 1px solid rgba(11, 29, 213, 0.3);
}

.form-seller-parent h2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #040b52;
}

.seller-inputs-parent {
  display: flex;
  flex-direction: column;
}

.social-container,
.phone-container {
  margin-top: 2.4rem;
}

.name-container {
  margin-top: 4.8rem;
}

.seller-labels {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(4, 11, 82, 0.8);
}

.action {
  margin-top: 6.2rem;
  margin-bottom: 1.4rem;
}

.action-btn {
  padding: 1.4rem 3.8rem;
  background: #0b1dd5;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
}

/* a.action-btn {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
} */

@media only screen and (max-width: 500px) {
  .form-seller {
    width: 87.2vw;
    margin-top: 3.2rem;
  }

  .form-seller-parent {
    padding: 3.2rem 2.3rem 3.6rem 2.3rem;
  }

  .seller-inputs {
    width: 74.9vw;
  }
}

@media only screen and (max-width: 331px) {
  .form-seller-parent {
    padding: 3.2rem 1.5rem 3.6rem;
  }
}
