a {
  text-decoration: none;
}

.main-container {
  padding: 2.4rem 16rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.dashboard-nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-primary {
  color: var(--btn-color);
}

.nav-link-secondary {
  color: var(--text);
  opacity: 0.8;
}

.li-4 {
  margin-right: 4rem;
}

/* MEDIA QUERIES for navbar */

@media screen and (max-width: 1100px) {
  .main-container {
    padding: 2.4rem 12.7%;
  }

  .cus-container {
    margin: 12rem 12.7% 0 !important;
  }
}

@media screen and (max-width: 990px) {
  .main-container {
    padding: 2.4rem 8.1%;
  }

  .cus-container {
    margin: 12rem 8.1% 0 !important;
  }

  .li-4 {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 780px) {
  .main-container {
    box-shadow: none;
    background-color: #fafbff;
  }

  .cus-container {
    margin: 12rem 10.3% 0 !important;
  }

  .dashboard-nav {
    padding-bottom: 2.4rem;
  }

  .li-4 {
    margin-right: 0rem;
  }

  .nav-lis-mobile-dashboard {
    position: absolute;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    top: 7rem;
    left: 0;
    transition: all 0.5s ease-out;
    width: 100%;
    background-color: #fafbff;
    z-index: 1;
    padding-bottom: 3.6rem;
  }
}

@media screen and (max-width: 480px) {
  .cus-container {
    margin: 12rem 2.4rem 0 !important;
  }
}

/* End of Navbar media queries */

.cus-container {
  margin: 12rem 11.1% 0;
}

.cus {
  width: 7.8rem;
  padding: 0 0.8rem 0 0.8rem;
  margin: 12rem 16rem 0 16rem;
  line-height: 2.4rem;
  border: 1px solid var(--btn-color);
  border-radius: 5rem;
  font-size: 1.2rem;
  background-color: white;
  color: var(--btn-color);
}

.complete-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.3rem;
}

.complete-prof {
  font-weight: 600;
  font-size: 1.6rem;
  color: #0b1dd5;
}

.complete-prof:hover {
  text-decoration: underline;
}

.g-text {
  margin-top: 5.6rem;
  text-align: center;
}

.empty-street {
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  color: #040b52;
  margin-top: 1.6rem;
  margin-bottom: 5.6rem;
}

.user-dashboard-image {
  max-width: 56rem;
  max-height: 56rem;
}

.dashboard-button-primary {
  text-decoration: none;
  padding: 1.5rem 4.8rem;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 4px;
  background-color: #0b1dd5;
  color: #fff;
}

.dashboard-button-secondary {
  font-size: 1.6rem;
  color: #0b1dd5;
  text-decoration: underline;
  margin-left: 1.6rem;
}

@media only screen and (max-width: 414px) {
  .ham {
    display: initial;
  }

  .dashboard-nav .nav-ul {
    display: none;
  }
  .user-dashboard-g {
    padding: 2.4rem 2rem 0 2rem;
  }
  .customer {
    display: block;
  }
  .customer .cus {
    padding: 0.2rem;
    margin-bottom: 2.4rem;
    width: 6.5rem;
  }
  .g-text .greeting {
    font-size: 3rem;
  }
  .g-text .purchase {
    font-size: 1.5rem;
  }
  .g-text a {
    padding: 1rem 2.8rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
}

.product-d-box {
  max-width: 447px;
  margin: 48px auto;
  padding: 4.8rem 8.5rem 8.5rem 6.4rem;
  background: #f0f2fe;
  border-radius: 4px;
}

.product-d-box label {
  width: 100%;
  background-color: inherit;
}

.p-q {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
}

.product-details-labels {
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 2.4rem;
}

.desc {
  background-color: #f0f2fe;
  border: 1px solid rgba(11, 29, 213, 0.3);
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.p-q input[type="number"] {
  border-color: rgba(11, 29, 213, 0.3);
  background-color: inherit;
}

.price-and-qty {
  display: flex;
  justify-content: space-between;
}

.price input {
  width: 14.7rem;
}

.qty input {
  width: 12.7rem;
}

.p-d-h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #040b52;
  padding-bottom: 30px;
}

.next-btn {
  background: #0b1dd5;
  border-radius: 4px;
  padding: 1.4rem 3.8rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 414px) {
  .product-detail {
    padding: 2.4rem 2rem 0 2rem;
  }

  form {
    margin-bottom: 6rem;
  }

  .product-d-box {
    max-width: 100%;
    margin: 10px auto;
    padding: 4.8rem;
    background: #f0f2fe;
    border-radius: 4px;
  }
}

/** Payment method styles **/

input[type="radio"] {
  height: 1.2rem;
  margin-left: -14.2rem;
}

.payment-label {
  margin-left: -13.2rem;
  font-size: 1.3rem;
}

.sc {
  font-weight: 600;
  font-size: 14px;
  font-weight: 600;
  color: rgba(4, 11, 82, 0.8);
}

.del-fee {
  font-weight: bold;
  font-size: 16px;
  padding-top: 19px;
  color: rgba(4, 11, 82, 0.8);
}

.total-fee {
  background: #dde0fd;
  border-radius: 4px;
  color: #040b52;
  margin-top: 19px;
  max-width: 35.6rem;
}

.total-fee p {
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
}
.ad-q {
  padding-top: 19px;
  font-size: 14px;
  color: #040b52;
}
.check-out-btn {
  margin-top: 19px;
  width: 100%;
  background: #0b1dd5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border: none;
}
