.overall-container-get-started {
  background-color: var(--text);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7.2rem;
  box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.2);
}

.get-started-logo {
  margin-bottom: 4rem;
  margin-top: 5.6rem;
}

.get-started-container {
  background-color: #fff;
  padding: 3.2rem 5.6rem 4rem 6.4rem;
  border-radius: 4px;
  color: var(--text);
}

.get-started-container h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.get-started-container h3 {
  margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.options {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 0.8rem;
}

.options h4 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #767679;
}

.customer-gs {
  border: 1px solid #0b1dd5;
  border-radius: 5rem;
  padding: 0.7rem 1.1rem;
}

.get-started-form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  position: relative;
}

.get-started-form p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

input {
  border: 1px solid #dddde3;
  border-radius: 4px;
  height: 4rem;
  width: 29.8rem;
  padding-left: 1rem;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.email,
.password {
  margin-top: 2.4rem;
}

.password-show {
  position: relative;
}

.password-show-image {
  color: #040b52;
  opacity: 0.5;
  font-size: 18px;
  position: absolute;
  left: 26.5rem;
  bottom: 1.1rem;
}

.user-agreement {
  margin-top: 4.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  max-width: 32.6rem;
}

.user-agreement-link {
  text-decoration: none;
}

.text-blue {
  color: #0b1dd5;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.4rem;
}

.get-started-button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.4rem 3.1rem;
  background: #0b1dd5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions .log-in {
  font-size: 1.4rem;
  font-weight: 400;
  color: #0b1dd5;
  text-decoration: none;
}
